.title-cards {
  margin-top: 150px;
  padding-inline: 1rem;
  color: var(--primary-color);
}

.image-toroid {
  padding-bottom: 1rem;
  display: grid;
  justify-content: flex-end;

  @media (max-width: 760px) {
    padding-inline: 1rem;
    margin-top: 10px;
    .image-toroid-img {
      width: 100px;
      height: 100px;
      animation: breathIcons 2s ease-in-out infinite;
    }
  }

  @keyframes breathIcons {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
}

.image-cube {
  @media (max-width: 760px) {
    padding-inline: 1rem;
    margin-block: 20px;
    .image-cube-img {
      width: 100px;
      height: 100px;
      animation: breathIcons 2s ease-in-out infinite;
    }
  }
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 25px;
  overflow-x: scroll;
}

.card-container {
  position: relative;

  @media (max-width: 760px) {
    width: 100%;
    padding-inline: 1rem;

    .card-subtitle {
      position: absolute;
      top: 200px;
      z-index: 1;
      padding-inline: 1rem;
      color: var(--secondary-color);
    }

    .card-title {
      position: absolute;
      top: 220px;
      width: 200px;
      z-index: 1;
      padding-inline: 1rem;
      font-size: 2rem;
      text-transform: uppercase;
      color: var(--secondary-color);
    }
    .principale-image {
      width: 350px;
      height: 450px;
      object-fit: cover;
      filter: brightness(60%);
    }
  }
}
