.footer-container {
  background-color: var(--nonary-color);

  .footer-wrapper {
    padding-block: 2rem;
    padding-inline: 1rem;
    max-width: 1143px;
    margin: 0 auto;
  }
  
  .footer-text {
    color: var(--denary-color);
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 1.625rem;
    letter-spacing: -0.01375rem;
    padding-block: 1rem;
  }
  .footer-desc {
    color: var(--secondary-color);
    text-align: left;
    text-transform: none;
    font-weight: 500;
    font-size: 1.75rem;
    line-height: 2rem;
    letter-spacing: -0.0175rem;
    padding-block-end: 1rem;
  }
  .footer-list {
    list-style: none;
    font-weight: 600;
    color: var(--secondary-color);
    .item {
      padding-block: 0.5rem;
    }
  }
  .footer-title {
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.01125rem;
    color: var(--denary-color);
  }
}
