* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #b8001f;
  --secondary-color: #fff;
  --tertiary-color: #9cca4d; /* Gold */
  --quaternary-color: #87ceeb; /* Sky Blue */
  --quinary-color: #32cd32; /* Lime Green */
  --senary-color: #ff69b4; /* Hot Pink */
  --septenary-color: #ff4500; /* Orange Red */
  --octonary-color: #8a2be2; /* Blue Violet */
  --nonary-color: #191c1f; /* Cadet Blue */
  --denary-color: #717173; /* Slate Gray */
}

body {
  font-family: Poppins, sans-serif;
}
